@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e4e9f7;
}

.container {
 /*  height: 100vh;
  width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.box {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.2),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.signup {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.form-box {
  width: 450px;
  margin: 0px 10px;
}

.form-box header {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-box form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-box form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.btn {
  height: 35px;
  background: rgb(26, 157, 244);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn:hover {
  opacity: 0.82;
}

.submit {
  width: 100%;
}

.link {
  text-decoration: none;
}

label {
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}
form > div {
  height: 15%;
}
form > div > input{
  background-color: rgb(225, 221, 221);
}